h1, h2, h3, h4, li, p {
	padding:5px;
	background:#fff;
	margin-bottom:5px;
	display:table !important;
}

.brand {
	line-height:50px;
}

.nav {
	margin:0;
}

.nav li {
	font-size:16px;
}

.vegas-loading {
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	background:#000 url(../img/loading.gif) no-repeat center center;
	background:rgba(0, 0, 0, 0.7) url(../img/loading.gif) no-repeat center center;
	height:32px;
	left:20px;
	position:fixed;
	top:20px;
	width:32px; 
	z-index:0;
}

.vegas-overlay {
	background:transparent url(../img/overlays/04.png);
	opacity:0.5;
	z-index:-1;
}

.vegas-background {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	z-index:-2;
    max-width: none !important;
}