body {
	background-color:#999;
}

h1, h2, h3, h4, li, p, .btn, .instagram-placeholder {
	padding:5px;
	margin-bottom:5px;
	display:table !important;
	font-family:"Lucida Console", Monaco, monospace;
	background-color:#fff;
	box-shadow:inset #000 2px 2px 6px;
}

.brand {
	line-height:50px;
}

.nav {
	margin:0;
}

.nav li {
	font-size:10px;
}

.nav li a {
	padding:2px 0 0;
}

.nav li a:hover {
	background-color:transparent;
}

.nav li.icon {
	position:relative;
	padding-right:28px;
}

.nav li.icon img {
	position:absolute;
	right:6px;
	top:8px;
}

.instagram-placeholder {
	float:left;
	margin-right:5px;
}

.instagram-placeholder a img {
	height:150px;
	width:150px;
	padding:4px 2px 2px 4px;
}

.btn {
	border:0;
	padding:4px 2px 2px 4px;
}

.btn:hover, .instagram-placeholder:hover, .nav li:hover {
	background-color:#f00;
}