.App {

}

.App-header {
  border-bottom: 1px solid #111111;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

  .App-header__quote {
    color: #777;
    margin-bottom: 0;
  }

.App-body {

}
