html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #555;
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
  margin-bottom: .25rem;
}

dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

a {
  border: 1px solid;
  color: #0074D9;
  display: inline-block;
  padding: 0 .25em;
  text-decoration: none;
}

a:active,
a:focus {
  color: #85144b;
}

a:visited {
  color: #B10DC9;
}
